html, body{
width:100%;
height:100%;
margin:0;
overflow-x:hidden;
font-family: Arial, Helvetica, sans-serif;
}

/* ===== PAGE ===== */

.register-page{
min-height:100vh;
display:flex;
flex-direction:column;

background-size:cover;
background-position:center -100px;
background-repeat:no-repeat;
background-attachment:fixed;
background-color:#f5f7fb;
width:100vw;
}

/* ===== MAIN SECTION ===== */

.register-container{
flex:1;

display:grid;
grid-template-columns:1fr 1fr;
gap:80px;

align-items:start;
justify-items:start;

padding-top:70px;
padding-bottom:100px;
padding-left:10px;
padding-right:120px;

width:100%;
max-width:1400px;
margin:auto;

box-sizing:border-box;
}

/* ===== FORM CARD ===== */

.register-card{
background:white;
padding:40px;
border-radius:16px;

box-shadow:0 10px 30px rgba(0,0,0,0.1);

max-width:380px;
width:100%;

display:flex;
flex-direction:column;

margin-top:20px;
margin-bottom:40px;

margin-left:55px;
}

/* ===== TITLE ===== */

.register-card h2{
text-align:center;
font-size:32px;
font-weight:600;
margin-bottom:25px;
color:#161D23;
}

/* ===== INPUTS ===== */

.register-card input,
.register-card select{
width:100%;
padding:14px;

margin-bottom:15px;

border-radius:8px;
border:1px solid #d1d5db;

background:white;
color:#161D23;

font-size:14px;
box-sizing:border-box;
transition:0.3s;
}

.register-card input:focus,
.register-card select:focus{
outline:none;
border-color:#FFE600;
box-shadow:0 0 0 3px rgba(255,230,0,0.2);
}

.register-card input::placeholder{
color:#9ca3af;
}

/* ===== OTP TIMER ===== */

.otp-timer{
position:relative;
top:-8px;
}

/* ===== BUTTON ===== */

.register-submit{
width:100%;
padding:14px;

border:none;
background:#FFE600;
color:#161D23;

border-radius:8px;

font-size:16px;
font-weight:500;

cursor:pointer;
transition:0.3s;
}

.register-submit:hover{
background:#f5dc00;
transform:translateY(-2px);
box-shadow:0 6px 15px rgba(0,0,0,0.1);
}

/* ===== LOGIN LINK ===== */

.register-link{
text-align:center;
margin-top:15px;
color:#6b7280;
}

.register-link a{
color:#FFE600;
text-decoration:none;
font-weight:500;
}

/* ===== PASSWORD RULES ===== */

.password-rules{
font-size:12px;
margin-top:5px;
margin-bottom:15px;
line-height:20px;
}

/* ===== ERRORS ===== */

.input-error{
border:1px solid red !important;
}

.error-text{
color:red;
font-size:12px;
margin-top:-10px;
margin-bottom:10px;
}

/* ===== RESPONSIVE ===== */

@media (max-width:900px){

.register-container{
grid-template-columns:1fr;
text-align:center;
padding:120px 40px 100px 40px;
}

.register-card{
margin:auto;
}

}

select{
width:100%;
padding:12px;
border-radius:10px;
border:1px solid #ccc;
font-size:14px;
}