<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<Properties xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes" xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties">
	<Template>Normal.dotm</Template>
	<TotalTime>0</TotalTime>
	<Application>Microsoft Office Word</Application>
	<DocSecurity>0</DocSecurity>
	<ScaleCrop>false</ScaleCrop>
	<Company>SIA Webby, Powered by Flyingbee PDF SDK</Company>
	<LinksUpToDate>false</LinksUpToDate>
	<SharedDoc>false</SharedDoc>
	<HyperlinksChanged>false</HyperlinksChanged>
</Properties>